* {
	outline: none;
	box-sizing: border-box;
}

body {

	margin: 0;

	font-family: 'Source Code Pro', monospace;
	color: #333;

	background: #f26d7c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f26d7c 0%, #6ecff6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f26d7c 0%,#6ecff6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f26d7c 0%,#6ecff6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26d7c', endColorstr='#6ecff6',GradientType=0 ); /* IE6-9 */

	background: #4e64ff;
}

h1 {
	//font-family: 'Astloch';
	font-weight: 200;
	font-size: 80px;
}

a {
	text-decoration: underline;
}

img {
	width: 100%;
}

section {
	display: flex;
    justify-content: space-between;
}

article {
	flex: 0 1 45%;
}

.page {
	min-height: 100vh;
}

.container {
	max-width: 960px;
	margin: 8em auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main {
	color: #fff;
}

#code {
	background: #fff;
}

#title-box {
	width:500px;
	line-height: 1.5em;
}

#title-box h2 {
	opacity: 0.4;
}