  @import '../../node_modules/tachyons/css/tachyons.min.css';
  /*
		Tachyons overrides
	*/

  .link:focus {
    outline: none;
  }

  .blue {
    color: #0000ff;
  }

  .code {
    font-family: 'Source Code Pro', 'Lucida Console', monospace;
    font-weight: 400;
  }
  /*
		ReactCSSTransitionGroup add ons
	*/

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave.fade-leave-active {
    opacity: 0.01;
  }
  /*
		custom
	*/

  .astloch {
    font-family: 'Astloch', 'Source Code Pro', monospace;
    font-weight: 200;
  }

  .pr0 {
    padding: 0;
  }

  @media screen and (min-width: 30em) {
    .pr0-ns {
      padding: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .pr0-m {
      padding: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .pr0-l {
      padding: 0;
    }
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 30em) {
    .flex-nowrap-ns {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .flex-nowrap-m {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 60em) {
    .flex-nowrap-l {
      flex-wrap: nowrap;
    }
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 30em) {
    .flex-reverse-ns {
      flex-direction: column-reverse;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .flex-reverse-m {
      flex-direction: column-reverse;
    }
  }

  @media screen and (min-width: 60em) {
    .flex-reverse-l {
      flex-direction: column-reverse;
    }
  }

  .lh-0 {
    line-height: 0;
  }

  @media screen and (min-width: 30em) {
    .lh-0-ns {
      line-height: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .lh-0-m {
      line-height: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .lh-0-l {
      line-height: 0;
    }
  }

  .w-475 {
    width: 47.5%;
  }

  @media screen and (min-width: 30em) {
    .w-475-ns {
      width: 47.5%;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .w-475-m {
      width: 47.5%;
    }
  }

  @media screen and (min-width: 60em) {
    .w-475-l {
      width: 47.5%;
    }
  }

  .minh-100 {
    min-height: 100vh;
  }
