@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'Ziclets';
  src: url('../fonts/Ziclets-webfont.woff') format('woff')
}

* { outline: none; }

body {
  font-size: 0.9em;
  font-family: 'helvetica neue';
  color: #333;
  text-align: center;
  text-transform: lowercase;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-size: 3.5em;
  font-weight: 400;
  margin: 0;
  color: #0000ff;
}

.title {
  font-size: 8em;
  //transform: scale(1,1);
  //transform-origin: top;
  //position: fixed;
  //right: 0;
  //left: 0;
}

.ziclets {
  font-family: 'Astloch', 'Ziclets', sans-serif;
}

a {
  color: #444;
  text-decoration: none;
}

nav {
  width: 100%;
  position: fixed;
  padding: 1em 0;
  top: 0;
  z-index: 1;
  background: #fff;
  font-family: 'Astloch', 'Ziclets', sans-serif;
  font-size: 1.5em;

  a { margin: 2.5em; }
}

.navbar-header { display: inline; font-family: 'inconsolata'; }

#main { margin-top: 4em; }

#posts { 
  width: 80%;
  margin: 0 auto;
  //padding-top: 10em;
}

#posts .paged {
  display:flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:.5em;
}

article.link {
  display: inline-block;
  flex-basis: 33.33%;
  width:25%;
  text-align: left;

  .post-wrapper { padding: 5%; }

  .link-text-wrapper { padding: 0 20px; }

  .link-excerpt { margin: 15px 0; line-height: 1.5; }

  .link-author { font-size: 0.9em; opacity: .5; }

  .link-thumbnail {

    background: #bbb;
    line-height: 0;

    figure { margin:0; background: #bbb;

      img { max-width: 100%; opacity: 0.9; }
    }

  }

  .link-img { max-width: 100%; opacity: 0.9; }
}

.doc {
  margin: 3em 0;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
