---
title: $ tom huhges
---



    <div ng-controller="mainController">

            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">$ tom huhges</a>
                </div>
                <a href="#art"># art</a>
                <a href="#code"># code</a>
                <a href="#writing"># writing</a>
                <a href="#linkdump"># linkdump</a>
            </div>
            </nav>

    <div id="main">

        <div ng-view></div>

    </div>